:root {
    box-sizing: border-box;
    --main-bg-color: #dd8dff;
    --secondary-bg-color: #82a276;
    --main-header-font: Impact, Arial, sans-serif;
    --main-text-font: serif;
    --standard-column-width: 49.8%;
    --standard-margin: 9px;
}

#outer {
    border:0.5px dotted red;
    font-size: 40px;
}
#inner {
    color: papayawhip;
    font-size: 30px;
}
h1, h2, h3 {
    font-family: var(--main-header-font);
}
.staticpos {
    position: static;
    background-color: var(--main-bg-color);
}

.relativepos {
    position: relative;
    top: 10px;
    right: 15px;
    background-color: #dd8dff;
}

.absolutepos {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--main-bg-color);
}

.fixedpos {
    position: fixed;
    top: 5px;
    right: 5px;
    background-color: var(--main-bg-color);
}

.stickypos {
    position: sticky;
    top: 20px;
    background-color: var(--main-bg-color);
}

.columns {
    width: var(--standard-column-width);
}

p {
    border: 1px solid gray;
    margin: var(--standard-margin);
    padding: 10px;
}
p::first-line {
    color: blue;
    font-size: 110%;
}

a.offsite::before {
    content: "🐶"
}

main {
    background-color: lightcyan;
}

li:nth-child(even) {
    color: rebeccapurple;
}

.hdr {
    color: saddlebrown;
}

li {
    color: orange;
}

li:hover {
    background-color: #baddad;
}